flask
flask-cors
gunicorn
numpy
pandas
scikit-learn

torch


torch-scatter -f https://data.pyg.org/whl/torch-2.0.1+cpu.html
torch-sparse -f https://data.pyg.org/whl/torch-2.0.1+cpu.html
torch-cluster -f https://data.pyg.org/whl/torch-2.0.1+cpu.html
torch-spline-conv -f https://data.pyg.org/whl/torch-2.0.1+cpu.html
torch-geometric
